@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


  @keyframes spin-0 {
    from { transform: rotate(0deg) translate(230px) rotate(0deg); }
    to { transform: rotate(360deg) translate(230px) rotate(-360deg); }
  }
  @keyframes spin-1 {
    from { transform: rotate(0deg) translate(180px) rotate(0deg); }
    to { transform: rotate(360deg) translate(180px) rotate(-360deg); }
  }
  @keyframes spin-2 {
    from { transform: rotate(0deg) translate(130px) rotate(0deg); }
    to { transform: rotate(360deg) translate(130px) rotate(-360deg); }
  }

  @keyframes rotate0 {
    from {
      transform: rotate(0deg) translateX(230px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(230px) rotate(-360deg);
    }
  }
  @keyframes rotate1 {
    from {
      transform: rotate(0deg) translateX(180px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(180px) rotate(-360deg);
    }
  }
  @keyframes rotate2 {
    from {
      transform: rotate(0deg) translateX(130px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(130px) rotate(-360deg);
    }
  }
